.App-wrapper {
  display: grid;
  background: blue ;

  grid-template-areas: 'Myheader Myheader'
                        'Mynav Mycontent';
  grid-template-rows: 60px 2fr;
  grid-auto-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}
.header {
  grid-area: Myheader ;
}

.header img {
  width: 60px;
  height: 60px;
}
.nav {
  grid-area: Mynav ;
  background: aquamarine;

}


.content {
  grid-area: Mycontent ;
  background: chartreuse;
}
